numpy
pandas
scipy
joblib
tqdm
python-dotenv
PyYAML
pydantic
pydantic-settings

requests

scikit-learn

torch
torchvision
accelerate

opencv-python
ultralytics
timm

transformers

gymnasium
stable-baselines3[extra]
shimmy
optuna

matplotlib
mplfinance
